.blog{
    list-style-type: none;
    margin: 0;
}
.links {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f4f4f4;


   a{

    font-size: 22px;
    text-decoration: none;
    color:blue;
    letter-spacing: 1px;
    
}
a:hover{
    color: #000;
}   
}
